* {
  margin: 0;
  padding: 0;
}
.stage{

  list-style:none;
  border: 2px solid;
  border-color: #dee2e6;
  border-radius: 5px;
}
.stage-header{
  border: 1px solid;
  border-color: #dee2e6;
  border-radius: 5px;
  font-weight: bold;
}
.nav-link{
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  display: block;
  padding: .5rem 1rem;
}


