<ul class="nav nav-tabs" id="myTab" role="tablist">
  <!-- Make tabs for each day -->
  <!-- <div class="" *ngFor="let item of list"> -->
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="crud-tab" data-toggle="tab" href="#crud" role="tab" aria-controls="crud" aria-selected="false">CRUD</a>
    </li>
  <!-- </div> -->
</ul>
<!-- Generated day tabs -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h1>Performances</h1>
    <div class="row">
      <!-- In each tab make all the stages -->
      <div class="col-md-3 stages" *ngFor="let stage of stages">
          <div class="stage col-md-12">
            <div class="row">
              <div class="stage-header col-md-12 offset-md-3">{{stage.name}}</div>
            </div>
            <div class="row">
              <!-- In each stage make the performances that belong to the stage -->
              <div class="performances" *ngFor="let performance of ">
                <li class="col-md-2">{{performance.startDateTime}}:</li>
                <li class="col-md-6">{{performance.performerId}}</li>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Crud tab -->
  <div class="tab-pane fade" id="crud" role="tabpanel" aria-labelledby="crud-tab">
    <div class="row">
      <div class="col-sm">
        <form class="form-group" [formGroup]="stageForm" (ngSubmit)="storeStage()">
          <h1>Stage</h1>
          <label>
            Name:
            <div class="row">
              <input class="form-control" type="text" formControlName="name">
            </div>
            <input class="btn btn-primary" type="submit">
          </label>
        </form>
      </div>
      <div class="col-sm">
        <form class="form-group" [formGroup]="performerForm" (ngSubmit)="storePerformer()">
          <h1>Performer</h1>
          <label>
            Name:
            <div class="row">
              <input class="form-control" type="text" formControlName="name">
            </div>
            Description:
            <div class="row">
              <input class="form-control" type="text" formControlName="description">
            </div>
            <input class="btn btn-primary" type="submit">
          </label>
        </form>
      </div>
      <div class="col-sm">
        <form class="form-group" [formGroup]="performanceForm" (ngSubmit)="storePerformance()">
          <h1>Performance</h1>
          <label>
            Stages:
            <div class="row">
              <select formControlName="stageId">
                <option *ngFor="let stage of stages" value="{{stage.id}}">{{stage.name}}</option>
              </select>
            </div>
            Performers:
            <div class="row">
              <select  formControlName="performerId">
                <option *ngFor="let performer of performers" value="{{performer.id}}">{{performer.name}}</option>
              </select>
            </div>
            Start time:
            <div class="row">
              <input type="datetime-local" formControlName="startDateTime">
            </div>
            End time:
            <div class="row">
              <input type="datetime-local" formControlName="endDateTime">
            </div>
            <input class="btn btn-primary" type="submit">
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
